{:paths ["src/clj"]
 :mvn/repos
 {"local" {:url "file:repo"}}
 :deps
 {com.taoensso/timbre {:mvn/version "4.10.0"}
  com.springrts/ai-interface-java {:mvn/version "0.1"}
  com.springrts/ai-interface-javaoo {:mvn/version "0.1"}
  javax.vecmath/vecmath {:mvn/version "1.5.2"}}
  ; local
  ;spring-ai {:local/root "lib/AIInterface.jar"}}
 :aliases
 {:nrepl
  {:extra-paths ["dev/clj" "test/clj"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.2"}
    nrepl {:mvn/version "0.7.0"}
    org.clojure/tools.namespace {:mvn/version "1.0.0"}}
   :main-opts ["--main" "nrepl.cmdline"
               ; TODO other cider middleware
               "--middleware" "[cider.nrepl/cider-middleware,cider.nrepl/wrap-refresh]"
               "--interactive"]}
  :depstar
  {:extra-deps
   {seancorfield/depstar {:mvn/version "1.0.94"}}}
  :cambada
  {:extra-deps
   {luchiniatwork/cambada
    {:mvn/version "1.0.2"}}}}}
